@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #100f12;
  color: #fff;
  max-width: 400px;
  margin: 0 auto;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  text-align: center;
  margin: 40px 0;
  font-weight: bold;
  font-size: 2rem;
  color: #7159c1;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  width: 100%;
  margin-bottom: 8px;
  padding: 10px 16px;
  border: 1px solid #7159c1;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 10px 16px;
  background: #7159c1;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.comments {
  margin-top: 25px;
}

.comment {
  display: flex;
  margin-bottom: 20px;
  background: #ecf0f1;
  color: #000;
  border-radius: 5px;
  padding: 12px;
  flex-direction: row;
}

.comment-content {
  width: 100%;
}

.comment-action {
  display: flex;
  justify-content: flex-start;
  align-self: flex-end;
  align-content: flex-end;
}

.comment .comment-name {
  font-weight: bold;
}
